/* Styles généraux */
/* Importation de la police Poppins depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Utilisation de la police dans les styles */
body, .header, .navbar, .nav-links a, .hero h1, .hero p, .cta-button, .footer {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
}

/* Augmenter l'espacement entre les mots */
.hero h1, .hero p {
    word-spacing: 2.5px; /* Ajustez la valeur selon votre préférence */
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
   background: rgb(55,62,69);
background: linear-gradient(rgba(55,62,69,1) 0%, rgba(99,99,125,1) 30%, rgba(55,62,69,1) 100%);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    color: #636F7D;
    padding: 30px 70px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: whitesmoke;
    font-size: 1.5em;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 25px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #333333;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero {
    border: dashed dashed solid solid 1px blue;
    color: #696969;
    padding-top: 50px;
    padding-left: 70px;
}

.hero-content {
    color: whitesmoke;
}

.hero h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
    line-height: 25px;
}

.button-container {
    text-align: center;
}

.discover-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333333;
    color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* Ajoutez ceci à votre fichier styles.css */

.project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #33333369;
    color: whitesmoke;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: saturate(0);
    transition: 1s;
}

.card img:hover {
    filter: saturate(0.5);
}

.card-info {
    padding: 20px;  
}

.card-info h2 {
    margin-bottom: 10px;
}

.card-info p {
    margin-bottom: 20px;
}

.card-info a {
    color: #333;
    text-decoration: none;
}

.card-info a:hover {
    text-decoration: underline;
}

/* Ajoutez ceci à votre fichier styles.css */

.button-row {
    display: flex;
    justify-content: space-between;
}

.left-button {
    background-color: whitesmoke;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 5px 10px;
    transition-duration: 500ms;
}

.right-button {
    background-color: whitesmoke;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 5px 10px;
    transition-duration: 500ms;
}

.left-button:hover {
   background-color: #91ea91;
   border: 1px solid #70e570;
   color: #333;
}

.right-button:hover {
   background-color: #7aa6db;
   border: 1px solid #7aa6db;
   color: #333;
}

/* CSS pour l'effet de flou */
.blur {
    filter: blur(5px);
}

.footer {
    color: #333333;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > img {
  width: 25px;
  padding: 0 5px;
}
